
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
.DS_Store
.ipynb_checkpoints/
.idea/
.vscode/
Thumbs.db

data/*
!data/.gitkeep
outputs/*
!outputs/.gitkeep
runs/*
!runs/.gitkeep
